.nameAndInfoDiv{
    width: 100%;
    height: 236px;
    padding: 8px 24px;
    gap: 24px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.sourceLink{
    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
    text-decoration: underline;
}
@media(min-width:768px){
    .textAndButtonFlex{
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nameAndInfoDiv{
        width: 50vw;
        padding: 0;
    }
}
@media(min-width:1024px){
    .textAndButtonFlex{
        width: fit-content;
        flex-direction: column;
    }
    .nameAndInfoDiv{
        padding: 0;
        width: 350px;
        gap: 16px;
    }
}